# =========================
# Windows
# =========================
desktop.ini
Desktop.ini
Thumbs.db
ehthumbs.db

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Node.js
# =========================
node_modules/
